/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mises en forme générales */
body 
{
    font-family: 'Raleway', sans-serif;
}

body header, body #zone_recherche, body #activites, body #hebergements
{ 
    margin-left: 50px;
    margin-right: 50px;
}

h1,h2
{
    font-size: x-large;
    font-weight: 700;
}

h3, #br_bouton
{
    font-size: large;
    font-weight: 700;
}

h4
{
    font-size: medium;
    font-weight: 700;
}

#menu, p,.footer_content
{
    font-size: medium;
}

/* Mise en forme de l'en-tête du site Réservia */
header
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 25px; 
}

#logo
{
    flex: 70%;
}

#logo img
{
    width: 100px;
    height: auto;
}

#menu
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex:30%;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;   
}

.menu_nav a
{
    text-decoration: none;
    color: black;
    padding: 38px 25px 0px 25px;   
}

.menu_nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#menu_inscription a
{
    text-decoration: none;
    color:#0065FC;
    font-weight: 700;
    padding: 38px 25px 0px 25px;  
}

/* Mise en forme Zone de Recherche/Filtre */
#zone_recherche
{   
    margin-top: 20px;
    margin-bottom: 20px;
}

#zone_recherche h1
{
    padding: 10px 0px 10px 0px;
}

/* Barre de Recherche */
#barre_recherche
{
    display: flex;
    flex: 1 1 0;
    width: 500px;
    height: 45px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#br_icone 
{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    align-items: center;
    width: 45px;
    font-size: medium;
}

#br_saisierecherche
{
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#br_saisierecherche input
{
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 5px;
    outline: #F2F2F2;
    width: 200px;   
}

#br_bouton
{
    height: 100%;
    display: flex;
    justify-content: center;
}

#br_bouton a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-color: #0065FC;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    font-size: medium;
}

/*Filtres*/
#filtres
{   
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    align-items: center;    
    align-content: center;
}

#filtres_titre h3
{
    padding-right: 10px ;
}

.filtres_nom a
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
    border-style: solid;
    border-radius:35px 35px 35px 35px;
    border-color: #D4D4D4;
    border-width: 1px;    
    border-left: none;
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 0.5em;
    text-decoration: none;
    color:black;    
}

.filtres_nom h3
{
    padding: 10px
}

.filtres_nom a:hover
{
    background-color:#DEEBFF;
}

#filtres_icone
{
    display: flex;
    align-items: center;
    border-style: none;
    border-radius:40px 40px 40px 40px;
    background-color: #DEEBFF;
    margin-left: 0em;
    margin-right: 0.4em;
    height: 40px;
    width: 40px;
    color:#0065FC;
    justify-content: center;   
}

/* Information */
#info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

#info_logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:x-small;
    color: #0065FC;
    height: 18px;
    width: 18px;
    margin-right: 0.5em;
    border-radius: 20px 20px 20px 20px;   
    border-style: solid;
    border-color:#F2F2F2 ;
    border-width: 0.01em;
}
 
/* Hébergements */
#hebergements
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/* Cartes des hébergements */
#hebergements_description
{
    display: flex;
    flex-direction: column;
    width: 65.5%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 35px 20px 20px 20px;
    margin-right: 3.1%;
}

.hebergements_description_txt
{
    text-decoration: none;
    color: black;
    padding: 15px;
}

#hebergements_description_clique
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px 0px 0px;    
}

.hebergements_description_hotel
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(33.3333% - 30px);
    height: calc(59% - 10px);
    background-color: white;
    margin: 10px;
    align-content: center;
    padding: 4px;
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);   
}

.images_hotel
{
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0px 0px; 
}


.hebergements_description_hotel_txt
{ 
    padding-left: 10px;
}

.hebergements_description_hotel_txt h4
{
    padding: 5px;
}

.hebergements_description_hotel:hover, .hebergements_description_txt h4:hover
{
    color: #0065FC;
}

.hebergements_description_hotel_txt p
{
    padding: 5px;
}

.hebergements_description_hotel_txt .etoiles
{
    font-size: small;
    padding: 4px;
    display: flex;
}

.hebergements_description_hotel_txt .etoiles_grises
{  
    color:#F2F2F2
}

.hebergements_description_hotel_txt .etoiles_bleues
{    
    color:#0065FC;
}

.hebergements_description_hotel:hover
{
    transform: scale(1.05);
}

/* Hébergements populaires */

#hebergements_populaires
{
    display: flex;
    flex-direction: column;
    width: 31.3%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 35px 20px 20px 20px;
    position: relative;
}

#hebergements_populaires_descpription
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
     
}

#hebergements_populaires_descpription i
{
    display: flex;
    align-items: center;
    height: 100%;
}

#hebergements_populaires_clique
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
    
    flex-wrap: wrap;
    padding: 10px 0px 0px 0px;
    height: 100%;

    
}

.hebergements_populaires_hotel
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
    text-decoration: none;
    background-color: white;
    margin: 10px 10px 10px 10px;   
    padding: 4px;
    text-decoration: none;
    color: black;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

.hebergements_populaires_hotel img
{
    object-fit: cover;
    width: 100px;
    height: 110px;
    border-radius: 15px 0px 0px 15px;   
}

.carte_txt
{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 8px;
}


.hebergements_populaires_hotel .carte_txt h3
{
    padding: 2px;
}

.hebergements_populaires_hotel:hover
{
    color: #0065FC;
}

.hebergements_populaires_hotel .carte_txt p
{
    padding: 2px;
}

.hebergements_populaires_hotel .etoiles
{
    font-size: small;
    padding: 4px;
    display: flex;
    
}

.hebergements_populaires_hotel .etoiles_grises
{  
    color:#F2F2F2
}

.hebergements_populaires_hotel .etoiles_bleues
{    
    color:#0065FC;
}

.hebergements_populaires_hotel:hover
{
    transform: scale(1.05);
}

/* Activités*/
#activites
{
    padding: 10px 0px 10px 0px;
}
#activites_marseille
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
    width: 100%;
    
}

.activites_marseille_box1
{
    display: flex;
    justify-content:space-between;
    width: calc(25% - 30px);
    height: 445px;
    flex-direction: column;
    margin: 10px 10px 10px 0px;;
    align-content: center;  
}
#activites_marseille_port
{
    margin: 10px 10px 10px 0px;

}
#activites_marseille_calanques
{
    margin: 10px;
}

#activites_marseille_port, #activites_marseille_calanques
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    
    align-content: center;
    
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

#activites_marseille_port img, #activites_marseille_calanques img
{
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 15px 15px 0px 0px; 
}

.activites_marseille_box2
{
    display: flex;
    justify-content:space-between;
    width: calc(25% - 30px);
    height: 450px;
    flex-direction: column;
    margin: 10px;
    align-content: center;  
}

#activites_marseille_pomegues
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:55%;
    background-color: white;
    
    margin: 10px;
    align-content:center;
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

#activites_marseille_pomegues img
{
    object-fit: cover;
    width: 100%;
    height:47%;
    border-radius: 15px 15px 0px 0px; 
}

#activites_marseille_frioul
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: white;
    margin: 10px;
    align-content: center;
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

#activites_marseille_frioul img
{
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0px 0px; 
}

.activites_marseille_box3
{
    display: flex;
    justify-content:space-between;
    width: calc(25% - 30px);
    height: 445px;
    flex-direction: column;
    margin: 10px;
    align-content: center;  
}

#activites_marseille_garde
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 45%;
    background-color: white;
    margin: 10px;
    align-content: center;
    
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

#activites_marseille_garde img
{
    object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0px 0px; 
}

#activites_marseille_longchamp
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 35%;
    background-color: white;
    margin: 10px;
    align-content: center;
    
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
}

#activites_marseille_longchamp img
{
    object-fit: cover;
    width: 100%;
    height: 65%;
    border-radius: 15px 15px 0px 0px; 
}

#activites_marseille h4
{
    padding: 10px;
}

#activites_marseille_port:hover, #activites_marseille_pomegues:hover, #activites_marseille_frioul:hover, #activites_marseille_calanques:hover, #activites_marseille_garde:hover, #activites_marseille_longchamp:hover
{
    transform: scale(1.05);
    color: #0065FC;
}

/* Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.footer_content
{
    text-decoration: none;
    color: black;
    
}

.footer ul li
{
    padding: 10px 0px 0px 0px;
}

.footer h2
{
    padding: 0px 0px 5px 0px;    
}

.footer_content:hover
{
    color: #0065FC;
}