/*Début du reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fin du reset CSS */

/*Début des mises en forme générales */
body 
{
    font-family: 'Raleway', sans-serif;
}

body header, body #zone_recherche, body #activites, body #hebergements
{ 
    margin: 25px 50px 0px 50px;
}

h1,h2
{
    font-size: x-large;
    font-weight: 700;
}

h3, #br_bouton
{
    font-size: large;
    font-weight: 700;
}

h4
{
    font-size: medium;
    font-weight: 700;
}

#menu, p,.footer_content
{
    font-size: medium;
}
/*Fin des mises en forme générales */

/*Début de la mise en forme du header*/
header
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 25px; 
}
    
    #logo
    {
    flex: 70%;
    width: 100px;
    height: auto;
}

    /*Début de la mise en forme du menu*/
    #menu ul
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex:30%;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 0;   
    }

    .menu_nav a
    {
        text-decoration: none;
        color: black;
        padding: 37px 25px 0px 25px;   
    }

    #menu_inscription a
    {
        text-decoration: none;
        color:#0065FC;
        font-weight: 700;
        padding: 38px 25px 0px 25px;  
    }

    .menu_nav a:hover
    {
        color:#0065FC;
        border-top: 2px solid #0065FC;
    }
    /*Fin de la mise en forme du menu*/
/*Début de la mise en forme du header*/

/*Début de la mise en forme de la zone de recherche et de filtre*/
#zone_recherche
{   
    margin: 20px 0px 20px 0px;
}

#zone_recherche h1
{
    padding: 10px 0px 10px 0px;
}

    /*Début mise en forme barre de Recherche */
    #barre_recherche
    {
        display: flex;
        flex: 1 1 0;
        align-items: center;
        margin: 20px 0px 20px 0px;
        width: 500px;
        height: 45px;
    }

    #br_icone 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        background-color: #F2F2F2; 
        width: 45px;
        height: 100%;
        font-size: medium;
    }

    #br_saisierecherche
    {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

    #br_saisierecherche input
    {
        border-style: solid;
        border-width: 1px;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: 700;
        padding: 5px;
        outline: #F2F2F2;
        width: 200px;   
    }

    #br_bouton
    {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    #br_bouton a
    {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 0px 15px 15px 0px;
        background-color: #0065FC;
        text-decoration: none;
        font-weight: 700;
        font-size: medium;
        color: white;
    }
    /*Fin mise en forme barre de Recherche */

    /*Début mise en forme filtres*/
    #filtres
    {      
        display: flex;
        justify-content: flex-start;
        align-items: center;    
        align-content: center;
        flex-grow: 1;
        flex-basis: auto;
        flex-shrink: 0;
        margin: 25px 0px 0px 0px;
    }

    #filtres_titre h3
    {
        padding: 0px 10px 0px 0px;
    }

    .filtres_nom a
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: 36px;
        border-style: solid;
        border-radius:35px 35px 35px 35px;
        border-color: #D4D4D4;
        border-width: 1px;    
        border-left: none;
        margin: 0px 20px 0px 20px;
        padding: 0px 5px 0px 0px;
        text-decoration: none;
        color:black;    
    }

    .filtres_nom h3
    {
        padding: 10px
    }
    
    #filtres_icone
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        border-radius:40px 40px 40px 40px;
        background-color: #DEEBFF;
        margin-left: 0px 1px 0px 0px;
        width: 40px;
        height: 40px;
        color:#0065FC;  
    }

    .filtres_nom a:hover
    {
        background-color:#DEEBFF;
    }
    /*Fin mise en forme filtres*/

    /*Début mise en forme information*/
    #info
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 25px 0px 0px 0px;
    }

    #info_logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        margin-right: 0px 1px 0px 0px;
        border-radius: 20px 20px 20px 20px;   
        border-style: solid;
        border-color:#F2F2F2 ;
        border-width: 1px;
        color: #0065FC;
        font-size:x-small;  
    }
    /*Fin mise en forme information*/
/*Fin de la mise en forme de la zone de recherche et de filtre*/
 
/*Début de la mise en forme de la zone de description des hébergements */
#hebergements
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}
.etoiles
{
    font-size: small;
    padding: 5px;
    display: flex;
}

.etoiles_grises
{  
    color:#F2F2F2
}

.etoiles_bleues
{    
    color:#0065FC;
}

/*Début de la mise en forme des hébergements à Marseille*/
#hebergements_description
{
    display: flex;
    flex-direction: column;
    width: 65.5%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    margin: 0% 3% 0% 0%;
}

.hebergements_description_titre
{
    text-decoration: none;
    color: black;
    padding: 15px;
}

    /*Début de la mise en page des cartes hébergements*/
    #hebergements_cartes
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0px 0px 0px;    
    }

    .hebergements_carte_hotel
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        width: calc(33.3333% - 30px);
        margin: 10px;
        padding: 4px;
        border-radius: 20px 20px 20px 20px;
        background-color: white;
        box-shadow: 2px 2px 5px rgb(201 201 201);
        text-decoration: none;
        color: black;
    }

    .hebergements_image
    {
        object-fit: cover;
        width: 100%;
        height: 125px;
        border-radius: 20px 20px 0px 0px; 
    }
    
    .hebergements_carte_hotel_txt
    { 
        padding: 2px 2px 5px 10px;
    }

    .hebergements_carte_hotel_txt h4, .hebergements_carte_hotel_txt p
    {
        padding: 4px;
    }  

    .hebergements_carte_hotel:hover, .hebergements_description_titre h4:hover
    {
        color: #0065FC;
    }

    .hebergements_carte_hotel:hover
    {
        transform: scale(1.05);
    }
    /*Fin de la mise en page des cartes hébergements*/

/*Début de la mise en page des hébergements populaires */
#hebergements_populaires
{
    display: flex;
    flex-direction: column;
    width: 31.5%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 35px 20px 20px 20px;
    position: relative;
}

#hebergements_populaires_titre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;    
}

#hebergements_populaires_titre i
{
    display: flex;
    align-items: center;
    height: 100%;
}

    /*Début de la mise en page des cartes des hébergements populaires */
    #hebergements_populaires_cartes
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 10px 0px 10px 0px;
        height: 100%;
    }

    .hebergements_carte_populaire
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        height: calc(33.3333% - 30px);
        width: 90%;
        margin: 0px;   
        padding: 0px;
        border-radius: 20px 20px 20px 20px;
        background-color: white;
        box-shadow: 2px 2px 5px rgb(201 201 201);
        text-decoration: none;
        color: black;

    }

    .hebergements_populaires_image
    {
        object-fit: cover;
        padding: 4px 0px 4px 4px;
        width: 100px;
        height: calc(100%-8px);
        border-radius: 20px 0px 0px 20px;
    }

    .hebergements_carte_populaire_content
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements_carte_populaire_txt,.hebergements_carte_populaire_content .etoiles
    { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 15px 15px 15px; 
    }

    .hebergements_carte_populaire_txt h4, .hebergements_carte_populaire_txt p
    {
        padding: 4px;
    }

    .hebergements_carte_populaire:hover
    {
        color: #0065FC;
        transform: scale(1.05);
    }
    /*Fin de la mise en page des cartes des hébergements populaires */
/*Fin de la mise en page des hébergements populaires */
/*Fin de la mise en forme de la zone de description des hébergements */


/*Début de la mise en page de la zone activités*/
#activites
{
    padding: 10px 0px 10px 0px;
}



    /*Début de la mise en page des cartes activités*/
#activites_marseille
{
    display: flex;
    height: 445px;
    width: 100%;
    margin: 10px 0px 40px 0px;
}


.activites_cartes_long
{
    display: flex;
    margin: 10px;
}

#activites_cartes1
{
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    text-decoration: none;
    color: black;
}

#activites_cartes_6535, #activites_cartes_4060
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100%-10px);
    margin: 10px;
}
#activites_cartes2
{
    height: 56%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    text-decoration: none;
    color: black;
}

#activites_cartes3
{
    height: 41.25%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    text-decoration: none;
    color: black;
}

#activites_cartes4
{
    height: 48.25%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    text-decoration: none;
    color: black;
}

#activites_cartes5
{
    height: 51.75%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    text-decoration: none;
    color: black;
}

.activites_image_long
{
    object-fit: cover;
    height: 86.2%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}

.activites_image_pomegues
{
    object-fit: cover;
    height: 73.5%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}

.activites_image_frioul
{
    object-fit: cover;
    height: 66.5%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}

.activites_image_parc
{
    object-fit: cover;
    height: 73.4%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}

.activites_image_garde
{
    object-fit: cover;
    height: 71.5%;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}


#activites_marseille a
{
    text-decoration: none;
}
figcaption
{
    
    color: black;
    font-size: medium;
    font-weight: 700;
    padding: 20px 0px 0px 10px;
}

figcaption:hover
{
    color: #0065FC;
}



.activites_titre
{
    padding: 0px 0px 20px 0px;
}

#activites_cartes1:hover, #activites_cartes2:hover, #activites_cartes3:hover, #activites_cartes4:hover, #activites_cartes5:hover
{
    transform: scale(1.05);
}
/* Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.footer_content
{
    text-decoration: none;
    color: black;
    
}

.footer ul li
{
    padding: 10px 0px 0px 0px;
}

.footer h2
{
    padding: 0px 0px 5px 0px;    
}

.footer_content:hover
{
    color: #0065FC;
}