/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mises en forme générales */
body
{
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

p,ul,#menu
{
    font-size: small;
    font-weight:300;
}

h1,h2,h3
{
    font-weight: 700;
}

h1
{
    font-size: large;
}

h2{
    font-size:medium;
}

h3{
    font-size: small;
}

/* Mise en forme de l'en-tête du site Réservia */
header
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#logo
{
    flex: 70%;
}

#menu
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex:30%;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    
}

#menu_hebergement a,#menu_activites a
{
    text-decoration: none;
    color: black;
    padding-top: 15px;   
}

#menu_hebergement a:hover,#menu_activites a:hover
{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

#menu_inscription a
{
    text-decoration: none;
    color:#0065FC;
    font-weight: 700;
}

#menu_inscription a:hover
{
    border-top: none;
}

/* Mise en forme Zone de Recherche/Filtre */

/* Barre de Recherche */
#zone_recherche
{   
    margin-top: 20px;
    margin-bottom: 20px;
}

#barre_recherche
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;

}

#br_icone
{
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;    
}

#br_saisierecherche input
{
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 10px;
    outline: #F2F2F2;
    
}

#br_bouton a
{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-color: #0065FC;
    padding: 10px;
    font-size: small;
    border-radius: 0px 10px 10px 0px;
}

/*Filtres*/
#filtres
{   
    padding-top: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    align-items: center;    
    align-content: center;
}


.filtres_nom a
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 32px;
    border-style: solid;
    border-radius:32px 32px 32px 32px;
    border-color: #F2F2F2;
    border-width: 0.15em;    
    border-left: none;
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 0.5em;
    text-decoration: none;
    color:black;    
}

.filtres_nom a:hover
{
    background-color:#DEEBFF;
}

#filtres_icone
{
    display: flex;
    align-items: center;
    border-style: none;
    border-radius:35px 35px 35px 35px;
    background-color: #DEEBFF;
    margin-left: 0em;
    margin-right: 0.4em;
    height: 35px;
    width: 35px;
    color:#0065FC;
    justify-content: center;   
}

/* Information */
#info
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
}

#info_logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:x-small;
    color: #0065FC;
    height: 18px;
    width: 18px;
    margin-right: 0.5em;
    border-radius: 20px 20px 20px 20px;   
    border-style: solid;
    border-color:#F2F2F2 ;
    border-width: 0.01em;
}
 
/* Hébergements */
#hebergements
{
    display: flex;
    justify-content: space-between;
}

#hebergements_description
{
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 0px 20px 20px;   
}

.hebergements_description_txt
{
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Cartes des hébergements */

#hebergements_description_clique
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;    
}

.hebergements_description_hotel
{
    display: flex;
    justify-content: center;
    width: calc(33.3333% - 30px);
    height: calc(59% - 10px);
    background-color: white;
    margin: 10px;
    align-content: center;
    padding: 3px;
    text-decoration: none;
    color: black;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px rgb(201 201 201);
    
}

.hebergements_description_hotel img
{
    object-fit: cover;
    width: 100%;
    height: 85px;
    border-radius: 15px 15px 0px 0px;   
}

.hebergements_description_hotel_txt
{ 
    padding-left: 10px;
}

.hebergements_description_hotel_txt h3
{
    padding: 2px;
}

.hebergements_description_hotel:hover, .hebergements_description_txt h3:hover
{
    color: #0065FC;
}

.hebergements_description_hotel_txt p
{
    padding: 2px;
}

.hebergements_description_hotel_txt .etoiles
{
    font-size: small;
    padding: 4px;
    display: flex;
}

.hebergements_description_hotel_txt .etoiles_grises
{  
    color:#F2F2F2
}

.hebergements_description_hotel_txt .etoiles_bleues
{    
    color:#0065FC;
}

.hebergements_description_hotel:hover
{
    transform: scale(1.05);
}

